<div class="container">

    <div class="bg-image hover-overlay hover-zoom hover-shadow ripple">
        <img src="https://4.bp.blogspot.com/-W8t-iRRVmq4/TfUQXO-zokI/AAAAAAAAAek/8r1tjoEpQVg/s1600/DSC_0187.JPG"
            class="w-100" />
        <a href="#!">
            <div class="mask" style="background-color: rgba(57, 192, 237, 0.2)"></div>
        </a>
    </div>

</div>