<div class="container">
    <h1>Recipe Details</h1>

    <hr>

    <div class="card" style="width: 18rem;">

        <img src="{{recipeData.imageUrl}}" class="card-img-top" alt="{{recipeData.title}}">

        <div class="card-body">
            <h5 class="card-title">{{recipeData.title}}</h5>
            <p class="card-text">{{recipeData.description}}</p>
            {{!-- {{#each ingredients}}

            {{/each}} --}}
            <p></p>
        </div>

    </div>
 
</div>